extends layout

block content
  main#main.container
    canvas#artpadCanvas
    br
    div#toolbar
      img(src="images/artpad/highlightBlack.png")#blackBrush
      img(src="images/artpad/colorRed.png")#redBrush
      img(src="images/artpad/colorOrange.png")#orangeBrush
      img(src="images/artpad/colorGreen.png")#greenBrush
      img(src="images/artpad/colorTeal.png")#tealBrush
      img(src="images/artpad/colorBlue.png")#blueBrush
      span.spacer
      img(src="images/artpad/eraser.png")#eraser
      img(src="images/artpad/undo.png")#undo
      img(src="images/artpad/clear.png")#clear

    hr
    h1#readOnlyh1 Read Only is ON
    button#readOnlyButton Toggle Read-Only

    script(src="javascripts/artpad.js")