extends layout

block content 
  main.container
    h1 Welcome to die #{player}
    .row
      .col-md-7.col-sm-12#gamerooms
        .col-xs-12#rooms
          ul.activegames
        form.input-group.inputBoxes(action = " ")
          input.form-control(type="text")
          span.input-group-btn
            button.btn.btn-default#creategamebutton Create Room
      .col-md-5.col-sm-12#messages
        .col-xs-12#chat
          ul.messages
        form.input-group.inputBoxes(action=" ")
          input.form-control(type="text",rows="1", autocomplete = "off")#chatTextArea
          span.input-group-btn
            button.btn.btn-default(type = "submit")#submit Submit
        script.
          const player = '#{player}'

    script(src='/javascripts/socket.js')
    script.
      window.onload = () => {
        socket.emit('loadLobby', true);
      }