doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")

    script.
      const socket = io()
  body
    navbar.navbar.navbar-default
      div.container
        div.navbar-header
          .row
            .col-lg-6#logo
              a(href="/")
                img(src="/images/logo.png")
            .col-lg-6
              .row#menu.pull-right
                  .col-lg-6.col-sm-6
                    button#instructionsButton.btn.btn-default( type='button', data-toggle='modal', data-target='popup') How to Play
                    .modal.fade(tabindex='-1', role='dialog', arai-labelledby='popupLabel', aria-hidden='true')#instructionsPopup
                      .modal-dialog(role='document')
                        .modal-content
                          .modal-header
                            h2 How to play Sketchy
                          .modal-body
                            img(src='/images/instructions_01.png')
                            h4 In the main lobby enter an existing room or create a new room.
                            img(src='/images/instructions_02.png')
                            h4 When a player creates a new room, they will automatically enter the room. The player will wait until another player enters the room. Once two players are in the room the game will start.
                            h3 Playing Sketchy
                            h4 Each game will have unlimited rounds until all players leave the room. In each round, a random player (the host) will be selected from the room to to draw visual representations of words. The rest of the players will guess what the host is drawing by typing in chat. If a player guesses the word correctly, the host and the player is awarded a point and the next word will be displayed. To exit, just close the page. The room will close after all players have left the room.
                            br
                            h3 Sketchy is a class project by Paul Broestl, Alex Brown, Brian Mays, and Elaine Phuong
                          .modal-footer
                            button#modalClose.btn.btn-secondary(type='button', data-dismiss='modal') Close
                  .col-lg-6.col-sm-6
                    #loginbutton
  block content