

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-bottom: 50px;
  background-image :url('/images/background.png') !important;
}

a {
  color: #00B7FF;
}

navbar{
  margin-bottom:-30px;
}

#instructionsPopup img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#timer {
  font-size : 30px;
  right: 0;
  padding-right: 17%;
  position: absolute;
}

#topBar {
  margin-left : 5%;
  text-align : center;
  color: white ;
  background-color: rgba(0,0,0,0.4);
  font-weight: bold;
  width: 90%;
  height: 10%;
  padding: 5px;
  border-radius : 10px;
}

#menu {
  margin-top : 45px;
  background-color: rgba(0,0,0,0.4);
  font-weight: bold;
  padding-bottom: 20px;
  padding-top : 20px;
  padding-left: 5px;
  padding-right: 10px;
  height: 80px;
  width: 500px;
  border-radius : 10px;
  display: flex;
  margin-left: 50px;
}

#menu a, #menu button:not(#modalClose) {
  min-height : 40px;
  min-width : 95%;
  font-size : 16px;
  margin-right : 5px;
  margin-bottom: 20px;
}

#menu a img {
  max-height :45px ;
  border: 0;
  margin-left : 5%;
}

#loginbutton img{
  margin-top: -2px;
}

#statusBar, #topBar{
  height: 50px;
  margin-bottom: 10px;
}

#statusBar{
  position: relative;
  margin-left: 30px;
}

.chatoffset{
  margin-top: 60px;
}

#statusBar p, #topBar p {
  font-size: 16pt;
}

#status p {
  margin-top: 5px;
  font-size: 16pt;
  float: left;
}

#status span{
  color: red;
}

#artpadCanvas{
  width:500px;
  height:500px;
  margin-left: 30px;
  border-style: solid;
  border-width: 2px;
}

.inputBoxes{
  padding-top: 10px;
}

#chat ul, #rooms ul{
  -webkit-padding-start: 0;
  padding-left: 10px;
  padding-top : 10px;
}

#rooms ul li a{
  cursor: pointer;
  
}

#chat .list-group, #rooms .list-group{
  background-color: rgba(0,0,0,0.4);
  padding-bottom: 5px;
  padding-right: 10px;
  height: 65vh;
  min-height: 550px;
  overflow: scroll;
  max-height:100%;
  overflow-x:hidden;
  border-radius: 10px;
  z-index : 0;
}
  
#chat .list-group-item{
  display : table ;
  list-style-type: none;
  margin-bottom : 5px !important ;
  padding-left : 10px;
  border-radius: 5px;
  border:none;
}
#chat .list-group-item:nth-child(6n+1){
  background-color : #ffffd9; 
}
#chat .list-group-item:nth-child(6n+2){
  background-color : #ffd9d9; 
}
#chat .list-group-item:nth-child(6n+3){
  background-color : #d9f4ff; 
}
#chat .list-group-item:nth-child(6n+4){
  background-color : #f4fff4; 
}
#chat .list-group-item:nth-child(6n+5){
  background-color : #f4d9ff; 
}
#chat .list-group-item:nth-child(6n+6){
  background-color : #fff4ff; 
}

#rooms li .list-group-item{
  list-style-type: none;
  margin : 5px;
  border: none;
  border-radius : 10px;
  min-height : 80px;
  font-size : 20px;
  padding-left:10px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#rooms .playercount {
  font-size : 25px ;
}

#chat form{
  padding-top: 5px;
  width: 100%;
}

textarea{
  resize: none;
}

#chat form button{
  float: right;
}

/*#chat li:nth-child(odd) {
  background: #eee;
}*/

#chat .servermessage{
  background: midnightblue !important;
  color: white;
}

#toolbar{
  margin-left: 30px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top : 4px;
  padding-bottom : 4px !important;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  width: 500px;
  height: 100%;
  background: rgba(0,0,0,0.4);
  visibility: hidden;
}
#toolbar img{
  margin-top: 4px;
  width: 40px;
  height: 40px;
}

#toolbar img:hover{
  cursor: pointer;
}

.spacer{
  width:40px;
}

