

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-bottom: 50px;
  background-image :url('/images/background.png') !important;
}

a {
  color: #00B7FF;
}

navbar{
  margin-bottom:-30px;
}
#logo {
  /*margin-right : 5vw; */
}

#menu {
  background-color: rgba(0,0,0,0.5);
  font-weight: bold;
  padding-bottom: 20px;
  padding-top : 20px;
  padding-left: 10px;
  padding-right: 10px;
  height: 80px;
  width: 100%;
  border-radius : 10px;
  margin-left:20px;
  display: flex;

  
}
#menu a {
  min-height : 40px;
  min-width : 100%;
  font-size : 16px;
  margin-left : 10px; 
}

#statusBar, #topBar{
  height: 50px;
  margin-bottom: 10px;
}

#statusBar{
  margin-left: 30px;
  width: 500px;
  overflow: hidden;
}

.chatoffset{
  margin-top: 60px;
}

#statusBar p, #topBar p{
  font-size: 16pt;
  margin-bottom: -5px;
}

/*#timer{
  color: blue;
}*/

#status span{
  color: red;
}

#artpadCanvas{
  width:500px;
  height:500px;
  margin-left: 30px;
  border-style: solid;
  border-width: 2px;
}

.inputBoxes{
  padding-top: 10px;
}

#chat ul, #rooms ul{
  -webkit-padding-start: 0;
  padding-left: 10px;
  padding-top : 10px;
}

#rooms ul li a{
  cursor: pointer;
}

#chat .list-group, #rooms .list-group{
  background-color: rgba(0,0,0,0.5);
  font-weight: bold;
  padding-bottom: 5px;
  height: 65vh;
  min-height: 550px;
  overflow: scroll;
  max-height:100%;
  overflow-x:hidden;
  border-radius: 10px
}
  
#chat .list-group-item{
  list-style-type: none;
  margin-bottom : 5px !important ;
  padding-left : 10px;
  border-radius: 5px;
  border:none;
}

#rooms li .list-group-item{
  list-style-type: none;
  margin : 5px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  min-height : 80px;
  font-size : 36px;
  padding-left:10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#chat form{
  padding-top: 5px;
  width: 100%;
}

textarea{
  resize: none;
}

#chat form button{
  float: right;
}

/*#chat li:nth-child(odd) {
  background: #eee;
}*/

#toolbar{
  margin-left: 30px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top : 4px;
  padding-bottom : 4px !important;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  width: 500px;
  height: 100%;
  background: rgba(0,0,0,0.5);
  visibility: hidden;
}
#toolbar img{
  margin-top: 4px;
  width: 40px;
  height: 40px;
}

#toolbar img:hover{
  cursor: pointer;
}

.spacer{
  width:40px;
}

/* ADD STUFF*/
/*#messages {
 padding-left: 15px;
}

.messages {
  min-height: 300px;
}

.message {
  padding-top: 2px;
  width: 100%;
  background-color: #ddd;
  border-radius: 3px;
  margin-top: 2px;
}

.message:nth-child(odd) {
  background-color: #fff;
}

.games.list-group-item {
  font-size: 18px;

  width: 100%;
  color: black;
  background-color: #ddd;
  border-radius: 3px;
  border:none;
}

.games:nth-child(odd) {
    background-color: #fff;
}

#submit {
  width : 100%;
}
.well {
  overflow-y: scroll;
}

.activegames {
  min-height: 300px;
  padding-left: 15px;
}*/