body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-bottom: 50px;
}

a {
  color: #00B7FF;
}

#statusBar{
  width: 500px;
  height: 50px;
  border-style: solid;
  border-width: 0px;
  margin-left: 30px;
  margin-bottom: 10px;
  overflow: hidden;
}

#statusBar p{
  font-size: 28pt;
}

#statusBar span{
  color: red;
}

#artpadCanvas{
  width:500px;
  height:500px;
  margin-left: 30px;
  border-style: solid;
  border-width: 2px;
}

.inputBoxes{
  padding-top: 10px;
}

#chat ul, #rooms ul{
  -webkit-padding-start: 0;
}

#rooms ul li a{
  cursor: pointer;
}

#chat, #rooms{
  background-color: lightgray;
  border-radius: 5px;
  font-weight: bold;
  padding-bottom: 5px;
  height: 65vh;
  min-height: 550px;
  overflow: scroll;
  max-height:100%;
  overflow-x:hidden;
}

#chat li, #rooms li{
  list-style-type: none;
  padding-top: 2px;
  padding-bottom: 2px;
}

#chat form{
  padding-top: 5px;
  width: 100%;
}

textarea{
  resize: none;
}

#chat form button{
  float: right;
}

/*#chat li:nth-child(odd) {
  background: #eee;
}*/

#toolbar{
  margin-left: 30px;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  width: 500px;
  height: 44px;
  background: lightgray;
  visibility: hidden;
}
#toolbar img{
  margin-top: 2px;
  width: 40px;
  height: 40px;
}

#toolbar img:hover{
  cursor: pointer;
}

.spacer{
  width:40px;
}

/* ADD STUFF*/
/*#messages {
 padding-left: 15px;
}

.messages {
  min-height: 300px;
}

.message {
  padding-top: 2px;
  width: 100%;
  background-color: #ddd;
  border-radius: 3px;
  margin-top: 2px;
}

.message:nth-child(odd) {
  background-color: #fff;
}

.games.list-group-item {
  font-size: 18px;

  width: 100%;
  color: black;
  background-color: #ddd;
  border-radius: 3px;
  border:none;
}

.games:nth-child(odd) {
    background-color: #fff;
}

#submit {
  width : 100%;
}
.well {
  overflow-y: scroll;
}

.activegames {
  min-height: 300px;
  padding-left: 15px;
}*/